*/venv/*
venv
*/C++/DCCspec/boost*
*/C++/DCCspec/eigen*
*/C++/eigen*
*/C++/DCCspec/libInterpolate*
*/C++/*/*boost*
*/C++/DCCspec/data/**/Df0_interp.txt
*/C++/DCCspec/data/**/Df0_samp.txt
*/C++/DCCspec/data/**/Dr_interp.txt
*/C++/DCCspec/data/**/Dr_samp.txt
*/C++/DCCspec/data/**/Dtau_interp.txt
*/C++/DCCspec/data/**/Dtau_samp.txt
*/C++/DCCspec/data/**/f0_interp.txt
*/C++/DCCspec/data/**/f0_samp.txt
*/C++/DCCspec/data/**/field0_deriv.txt
*/C++/DCCspec/data/**/field0.txt
*/C++/DCCspec/data/**/r_interp.txt
*/C++/DCCspec/data/**/r_samp.txt
*/C++/DCCspec/data/**/tau_interp.txt
*/C++/DCCspec/data/**/tau_samp.txt
*/C++/DCCspec/data/**/ur_interp.txt
*/C++/DCCspec/data/**/ur_samp.txt
*/C++/DCCspec/data/**/utau_interp.txt
*/C++/DCCspec/data/**/utau_samp.txt
*/C++/C++Project Template*